streamlit>=1.36.0
pandas>=2.2.0
numpy>=1.26.0
bcrypt>=4.1.0
plotly>=5.22.0
spacy>=3.7.0
sentence-transformers>=3.0.0
scikit-learn>=1.5.0
pytest>=8.2.0
google-genai>=0.3.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
extra-streamlit-components>=0.1.60
PyMuPDF>=1.24.0